.footer {
	padding-top: 70px;
	padding-bottom: 78px;
}

footer {
background-color: #9f9acf;
}

.footer-rights {
	padding-left: 19px;
    color: white;
    font-size: 18px;
    line-height: 33px;
	white-space: nowrap;
}

.links--footer {
	position: static;
	transform: none;
	justify-content: flex-end;
	margin-bottom: 0;
	@media screen and (max-width: 768px){
	justify-content: flex-start;
	margin-top: 20px;
    padding-left: 7px;
	}
}

section {
	margin: 0 auto;
}