.intro {
	background-image: url(../img/intro_bg.png);
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	height: 100vh;
	/* height: 1070px; */
}

.intro-navigation {
	padding-top: 35px;
	padding-bottom: 11px;
	display: flex;
	align-items: center;
	padding-bottom: 26.9vh;
}


.intro-logo:hover #Logo{
	fill: #2d276d;
	transition: fill .3s ease-in;
	cursor: pointer;
}

.intro-navigation__wrapper {
	display: flex;
	justify-content: flex-end;
}

.intro-navigation__links {
	width: 54.5%;
	display: flex;
	justify-content: space-between;
	margin: 0;
	margin-right: 18px;
    padding-bottom: 13px;
	flex-wrap: wrap;
}

.intro-navigation__item {
	color: white;
	font-size: 20px;
	font-family: 'Montserrat', 'Arial', sans-serif;
	font-weight: 600;
	letter-spacing: 1.2px;
}


.intro-navigation__item:hover, .intro-navigation__item:visited, .intro-navigation__item:link, .intro-navigation__item:active {
    text-decoration: none;
	color: white;
}

.intro-navigation__item:hover {
	color: rgb(0, 139, 148);
	transition: color 0.2s ease-in-out;
	text-decoration: none;
}


.intro__title {
	font-size: 68px;
	font-family: 'Montserrat', 'Arial', sans-serif;
	font-weight: 700;
	color: white;
	letter-spacing: 0.4px;
	padding-top: 50px;
}

.intro__title-wrapper {
	padding-bottom: 7px;
}

.intro__description {
	font-size: 24px;
	font-family: 'Montserrat', 'Arial', sans-serif;
	font-weight: 400;
	color: white;
	font-style: italic;
}



/*----------------------about us---------------------*/

.about-us {
	background-color: #fff;
}

.about-us__description {
	padding-top: 124px;
	padding-bottom: 120px;
}

.about-us__wrapper {
	position: relative;
	padding-left: 0;
	height: 555px;
	width: 380px;
	background-image: url(../img/DeathtoStock_Wired8.png);
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}

.about-us__hover {
	position: absolute;
	top: 13.84%;
	left: 50%;
	transform: translateX(-50%);
}

.about-us__hover-title {
	position: absolute;
	top: 31.11%;
	left: 50%;
	transform: translateX(-50%);
}

.about-us__content {
	padding-top: 73px;
	line-height: 25px;
	font-size: 20px;
	color: #665f60;
	padding-left: 24px;
}

.about-us__content p:first-child {
	margin-bottom: 45px;
}

.button-wrapper {
	padding-top: 55px;
	display: flex;
	justify-content: center;
}

.about-us__button {
	width: 196px;
	margin-left: 10px;
	height: 50px;
	border-radius: 0;
	border-color: black;
	font-size: 20px;
	font-style: italic;
	color: #7d7a7c;
	background-color: white;
	
}

.about-us__button:hover, 
.about-us__button:active,
.recent_works__button:hover, 
.recent_works__button:active {
	background: rgba(55, 0, 125, 0.61);
    color: white;
    border: transparent;
	transition:  color 0.1s ease-in-out;
	transition:  background 0.2s ease-in-out;
	transition: border 0.1s ease-in-out;
}

.map_form--button:active {
	background-color: #413b79;
}


/* .about-us__image--1 {
	margin-left: -15px;
}

.about-us__image--2 {
	padding-right: 0px;
	margin-left: -15px;
} */

.grid {
	display: flex;
}

.grid-item-8 {
	width: 64.5%;
}

.grid-item-4 {
	width: 35.5%;
}

.grid-item-2 {
	width: 50%;
	position: relative;
	transition: all .2s ease-in-out; 
}

/*
.grid-item-2:hover {
	transform: scale(1.1);
	z-index: 5;
}
*/



.about-us__background {
	position: absolute;
}

.about-us__image--1,
.about-us__image--2,
.about-us__image--3,
.about-us__image--4 {
	height: 400px;
	position: relative;
}

.about-us__image--1,
.about-us__image--4 {
	background-color: #dbdbdb;
}


.about-us__image--5 {
	background-image: url(../img/image5.png);
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	height: 800px;
	position: relative;
}

.about-us__image--1-1 {
	top: 25%;
	left: 50%;
	transform: translateX(-50%);
	position: absolute;
}

.about-us__image--1-2 {
	bottom: 34.5%;
	left: 50%;
	transform: translateX(-50%);
	position: absolute;
}

.about-us__image--5-1 {
	top: 15%;
	left: 50%;
	transform: translateX(-50%);
	position: absolute;
}


/*--------------------recent_works-----------------------*/

.recent_works {
	background-image: url(../img/3sectionbg.png);
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	height: 1000px;
	position: relative;
}

.recent_works--image {
	display: flex;
	justify-content: center;
	padding-top: 50px;
	padding-bottom: 24px;
	margin-right: 25px;
}

.recent_works--title {
	font-size: 34px;
	font-weight: 600;
	padding-bottom: 58px;
	color: white;
	font-family: 'Montserrat', 'Arial', sans-serif;
}

.recent_works__slider {
	height: 547px;
	overflow-y: scroll;
}

.recent_works__slides {
	width: 750px;
	margin: 0 auto;
}

.slick-prev:before {
	content: url(../img/interface%20-%20arrow%20left.png);
	opacity: 1;
}

.slick-next:before {
	content: url(../img/interface%20-%20arrow%20right.png);
	opacity: 1;
}

.slick-next {
	right: -241px;
	top: 260px;
}

.slick-prev {
	left: -274px;
	top: 260px;
}

.slick-dots {
	bottom: -55px;
}

.slick-dots li button {
	padding: 1.5px;
}

.slick-dots li {
	margin: 0 1.5px;
	width: 13px;
}

.slick-dots li button:before {
	content: '○';
	font-size: 20px;
	color: white;
	opacity: 1;
	vertical-align: middle;
}

.slick-dots li.slick-active button:before {
	color: white;
	content: '●';
	font-size: 20px;
	opacity: 1;
}

.recent_works__bottom {
	margin-top: 72px;
	display: flex;
	justify-content: center;
}

.recent_works__button {
	border-radius: 0;
	background-color: transparent;
	border: 1px solid white;
	width: 195px;
	height: 50p;
	height: 50px;
	display: flex;
	align-items: center;
	justify-content: center;
	color: white;
	font-size: 20px;
	font-style: italic;
	font-family: 'Montserrat', 'Arial', sans-serif;
}


/*------------------our team--------------*/

.our-team {
	height: 820px;
	background-color: #ebebeb;
	padding-top: 53px;
}

.our-team__icon {
	display: flex;
	justify-content: center;
}

.our-team__title {
	margin-bottom: 44px;
	padding-top: 10px;
	color: #665f60;
}

.our-team__slider {
	height: 488px;
	margin-left: -14px;
}

.our-team__slide {
	margin: 0;
}

.our-team__item {
	position: relative;
	height: 488px;
}

.our-team__image {
	position: absolute;
	z-index: 2;
	top: 0;
	left: 50%;
	transform: translateX(-50%);
}

.our-team__background {
	position: absolute;
	z-index: 1;
	top: 134px;
}

.our-team__social {
	position: absolute;
	height: 70px;
	background-color: #9f9acf;
	bottom: 0;
	z-index: 2;
}

.our-team__name {
	position: absolute;
	z-index: 3;
	color: #a5a1d2;
	font-size: 24px;
	top: 274px;
	left: 50%;
	transform: translateX(-50%);
	white-space: nowrap;
}

.our-team__position {
	position: absolute;
	z-index: 3;
	color: #665f60;
	font-size: 21px;
	top: 327px;
	left: 50%;
	transform: translateX(-50%);
	white-space: nowrap;
	font-family: 'Montserrat', 'Arial', sans-serif;
	font-weight: 400;
	font-style: italic;
}

.links {
	display: flex;
	justify-content: center;
	position: absolute;
	bottom: 0;
	z-index: 4;
	bottom: 8px;
	left: 50%;
	transform: translateX(-50%);
}

.links--position {
	margin: 0 4px;
}

.link {
	font-size: 24px;
	color: #9f9acf;
}

.link .fa-behance {
   font-size: 21px;
}

.link--wrapper {
	width: 34px;
	height: 34px;
	border-radius: 50%;
	background-color: #ebebeb;
	display: flex;
	justify-content: center;
	align-items: center;
	margin: 0 7px;
    box-sizing: border-box;
}



.link:hover {
	color: #00BCD4;
	text-decoration: none;
	transition: color 0.1s ease-in-out;
}

.link:hover .link--wrapper {
	background-color: white;
	transition: background 0.1s ease-in-out;
}


.our-team .slick-prev {
	left: -68px;
	top: 285px;
}

.our-team .slick-next {
	right: -68px;
	top: 285px;
}

.our-team .slick-prev:before {
	content: url(../img/our_team_sliders/left_arrow.png);
}

.our-team .slick-next:before {
	content: url(../img/our_team_sliders/right_arrow.png);
}

.our-team__item--paddingsm {
	padding-left: 10px;
}

.our-team__item--paddingxs {
	padding-left: 0px;
}

.link--linked {
	padding-bottom: 2px;
}

.link--facebook {
	padding-top: 3px;
}



/*------------------contact us--------------------*/

.get-in-touch {
	height: 900px;
	background-color: #9f9acf;
}

#map {
	width: 100%;
	height: 900px;
	position: absolute;
	left: 0;
	top: 0;
	z-index: 0;
	opacity: 0.5;
}

.map-wrapper {
	position: relative;
	height: 900px;
}

.map__background {
	background-color: #9f9acf;
	opacity: 0.4;
	position: absolute;
	top: 0;
	right: 0;
	left: 0;
	bottom: 0;
	height: 900px;
}

.form-title {
	font-size: 36px;
	font-family: 'Montserrat', 'Arial', sans-serif;
	font-weight: 600;
	color: white;
}

.scrolloff {
	pointer-events: none;
}

.form-icon {
	padding-top: 52px;
	margin-bottom: 54px;
	position: absolute;
	text-align: center;
	left: 0;
	right: 0;
	z-index: 2;
}

.form-logo {
	margin-bottom: 14px;
}

.form-address,
.form-tel {
	position: absolute;
	display: flex;
	right: 0;
	height: auto;
	z-index: 2;
}

.form-address {
	top: 216px;
}

.form-tel {
	top: 307px;
}

.form-address__icon, 
.form-tel__icon {
	cursor: pointer;
}

.form-addressimg,
.form-tel img {
	width: 91px;
}

.form-address__content,
.form-tel__content {
	width: 0px;
	background-color: #fff;
	opacity: 0.7;
	height: 91px;
	transition: width 0.5s cubic-bezier(0.28,-0.09, 0.66, 1.12);
}

.form-address__data {
	position: absolute;
	margin: 0;
	width: 50.42%;
	text-align: center;
	right: -200px;
	top: 10px;
	font-size: 18px;
	color: #665f60;
	opacity: 0; 
    transition: transform 0.0s 0.5s linear; 
}

.content--hover {
 width: 257px;
}

.form-tel__data {
	text-align: center;
	position: absolute;
	right: -190px;
	top: 39%;
	font-size: 18px;
	color: #665f60;
	opacity: 0;
	transition: transform 0.0s 0.5s linear; 
}

.data--hover {
  transform: translateX(-235px);
  opacity: 1; 
}

.map_form {
	position: absolute;
	top: 435px;
	left: 0;
	right: 0;
	z-index: 2;
	display: flex;
	justify-content: center;
}

.map_form form {
	width: 70%;
}

.map_form--top {
	display: flex;
	justify-content: space-between;
	margin-bottom: 27px;
}

.map_form--input {
	width: 48.14%;
	height: 57px;
	border: 1px transparent;
	border-radius: 5px;
	text-align: left;
	padding-left: 28px;
	font-size: 18px;
	font-style: italic;
	color: rgba(255, 255, 255, 1);
	background-color: rgba(255, 255, 255, 0.5);
}

.map_form--text-area {
	width: 100%;
	height: 200px;
	border: 1px transparent;
	border-radius: 5px;
	text-align: left;
	padding-left: 28px;
	font-size: 18px;
	font-style: italic;
	color: rgba(255, 255, 255, 1);
	background-color: rgba(255, 255, 255, 0.5);
	padding-top: 17px;
}

.map_form--submit {
	margin-top: 50px;
	display: flex;
	justify-content: center;
}

.map_form--submit button {
	height: 67px;
	width: 293px;
	color: white;
	background-color: #9f9acf;
	border: none;
	box-shadow: 2px;
	box-shadow: 0px 4px 0px 0px #8783b0;
	font-size: 20px;
	text-transform: uppercase;
	letter-spacing: 0.1px;
}

#back-to-top {
	bottom: 0;
    position: absolute;
    right: 5%;
}

#back-to-top:hover #back-to-top--background{
	fill: #00BCD4;
	transition: fill 0.1s ease-in-out;
}
#back-to-top:hover {
	cursor: pointer;
}




/*-----------------footer-------------------*/

.footer {
	padding-top: 70px;
	padding-bottom: 78px;
}

footer {
	background-color: #9f9acf;
}

.footer-rights {
	padding-left: 19px;
    color: white;
    font-size: 18px;
    line-height: 33px;
}

.links--footer {
	position: static;
	transform: none;
	justify-content: flex-end;
	margin-bottom: 0;
}

section {
	margin: 0 auto;
}